<form class="well span4 offset4" method="post">
  <label for="signupFirstName">First Name:</label><input id="signupFirstName" type="text" name="firstName" class="medium" />
  <label for="signupLastName">Last Name:</label><input id="signupLastName" type="text" name="lastName" class="medium" />
  <label for="signupFianceFirstName">Fiance First Name:</label><input id="signupFianceFirstName" type="text" name="fianceFirstName" class="medium" />
  <label for="signupFianceLastName">Fiance Last Name:</label><input id="signupFianceLastName" type="text" name="fianceLastName" class="medium" />
  <label for="signupEmail">Email:</label><input id="signupEmail" type="email" name="email" class="medium" />
  <label for="signupSecret">Password:</label><input id="signupSecret" type="password" name="secret" class="medium" />
  <button type="submit" class="btn" id="signup_button" name="signup" value="signup">Sign Up</button>
</form>
