<!-- I dont think this is needed -->
<form class="span4 offset4 white-container" method="post">
  <div class="control-group">
    <label class="control-label" for="name">Name:</label>
    <div class="controls">
      <input id="name" type="text" name="name" class="span4" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="fianceName">Fiance Name:</label>
    <div class="controls">
      <input id="fianceName" type="text" name="fianceName" class="span4" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email:</label>
    <div class="controls">
      <input id="email" type="email" name="email" class="span4" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="secret">Password:</label>
    <div class="controls">
      <input id="secret" type="password" name="secret" class="span4" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" id="signupButton" name="" value="">Sign Up</button>
    </div>
  </div>
</form>
