<form class="">
  <input type="text" placeholder="Date" name="date" id="date" class="input-large" value="09/04/2013" />
  <div class="input-append bootstrap-timepicker">
    <input type="text" placeholder="Time" name="time" id="time" class="input-large" />
    <span class="add-on"><i class="icon-time"></i></span>
  </div>
  <input type="text" placeholder="Event Name" name="name" class="input-large" />
  <input type="text" placeholder="People" name="people" id="people" class="input-large"/>
  <input type="text" placeholder="Location" name="location" class="input-large" />
  <button type="submit" class="btn">Add event</button>
</form>
