<div class="timeline-container">
  <div class="timeline">
    <ul>
      <li>
        <time class="timeline-time">8:00 PM</time>
        <header class="timeline-header">Couple game: Remove $ off of bride without using hands</header>
        <aside class="timeline-footer"></aside>
      </li>
      <li>
        <time class="timeline-time">8:15 PM</time>
        <header class="timeline-header">Event name!</header>
        <aside class="timeline-footer">Location ... Chat</aside>
      </li>
      <li>
        <time class="timeline-time">8:20 PM</time>
        <header class="timeline-header">Event name!</header>
        <aside class="timeline-footer">Location ... Chat</aside>
      </li>
      <li>
        <time class="timeline-time">8:25 PM</time>
        <header class="timeline-header">Event name!</header>
        <aside class="timeline-footer">Location ... Chat</aside>
      </li>
      <li>
        <time class="timeline-time">9:00 PM</time>
        <header class="timeline-header">Event name!</header>
        <aside class="timeline-footer">Location ... Chat</aside>
      </li>
    </ul>
  </div>
</div>
