<%
var salutations = {
  mr: 'Mr.',
  mrs: 'Mrs.',
  ms: 'Ms.',
  miss: 'Miss',
  dr: 'Dr'
};
%>

<div class="row">
  <div class="span10">
    <select class="span1" id="salutation" name="guest_<%=guestNum%>_salutation">
      <option value=""></option>
      <% _.each(_.keys(salutations), function(keyName) { %>
        <option value="<%=keyName%>" <%=(guest.salutation===keyName ? "selected" : "")%>> <%=salutations[keyName]%> </option>
      <% }) %>
    </select>
    <input class="span4" type="text" id="name" name="guest_<%=guestNum%>_name" placeholder="Name" value="<%= guest.name || ''%>" />
    <input class="span4" type="email" id="email" name="guest_<%=guestNum%>_email" placeholder="E-mail" value="<%= guest.email || ''%>" />
  </div>
</div>
