<div class="span6">
  <input class="span6" type="text" id="address1" name="address1" placeholder="Street" value=""/>
  <div class="row">
    <div class="span3">
      <input class="span3" type="text" id="city" name="city" placeholder="city" value=""/>
    </div>
    <div class="span1">
      <input class="span1" type="text" id="state" name="state" placeholder="state" value=""/>
    </div>
    <div class="span2">
      <input class="span2" type="text" id="zip" name="zip" placeholder="zip" value=""/>
    </div>
  </div>
</div>
