<div style="height: 420px; position: relative; background-image: url(/images/background-flower-cup420.jpg); background-repeat: no-repeat no-repeat;">
  <h1 style="position: absolute; top: 100px; left: 10%; font-family: 'Bauer Badoni',serif; text-shadow: -2px 2px 2px rgb(67, 67, 67); font-size: 70px; white-space: nowrap;">Wedding Planning</h1>
  <h1 style="position: absolute; top: 200px; left: 10%; font-family: 'Bauer Badoni',serif; text-shadow: -2px 2px 2px rgb(67, 67, 67); fonxt-size: 70px;">Simplified</h1>
  <button data-toggle="modal" data-target="#myModal" id="getStarted" class="btn" style="position: absolute; top: 314.5px; left: 10%; width: 200px; font-family: 'Bauer Badoni',serif; font-size: 30px;">Get started</button>
  </div>
</div>

<div class="row-1">
  <div class="container">
    <div class="row">
      <div class="offset1 span5 text">
        <h2 style="font-family: 'Bauer Badoni',serif;">It all starts with the guests</h2>
        <p>Collaborate with the parents and the in-laws-to-be (if you want) to figure out who you're inviting quickly</p>
        <p>Gather their addresses and automate your save the dates and invites</p>
      </div>
      <div class="span5">
        <img src="/images/guestlist_ss.png">
      </div>
    </div>
  </div>
</div>

<div class="row-2">
  <div class="container">
    <div class="row">
      <div class="offset1 span5">
      </div>
      <div class="span5">
        <h2 class="comingSoon" style="font-family: 'Bauer Badoni',serif;">Find and communicate with your vendors</h2>
        <p>Need help finding good vendors?</p>
        <p>We look for the best and make sure that you can always talk to them. After all, they should do it your way</p>
      </div>
    </div>
  </div>
</div>

<div class="row-3">
  <div class="container">
    <div class="row">
      <div class="offset1 span5">
        <h2 class="comingSoon" style="font-family: 'Bauer Badoni',serif;">Don't sweat it on the big day</h2>
        <p>We'll help you go through the process of developing your day-of timeline</p>
        <p>If anything goes awry, there will always be someone to help at a moment's notice</p>
      </div>
      <div class="span5">
      </div>
    </div>
  </div>
</div>




<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" style="font-family: 'Bauer Badoni',serif;">Sign up</h3>
  </div>
  <div class="modal-body">
  </div>
</div>
