<% _.each(party.guests, function(guest, index) { %>
  <tr <% if (index === 0) { %>class="table-row"<% } %> data-party-id="<%= party.id %>">
    <% if (index === 0) { %>
      <td rowspan="<%= party.guests.length %>">
        <input type="checkbox" />
      </td>
    <% } %>
    <td><%= guest.firstName %> <%= guest.lastName %></td>
    <td><%= guest.email %></td>
    <% if (index === 0) { %>
      <td rowspan="<%= party.guests.length %>"><%= index === 0 ? address.replace(/\n/g, '<br />') : ''  %></td>
    <% } %>
    <td>No</td>
    <td>
      <% if (index === 0) { %>
        <div class="setPartyPriority">
          <%= priorityButtonsTemplate({ priority: party.priority }) %>
        </div>
      <% } %>
    </td>
    <td><% if (index === 0) { %><a href="<%= editUrl %>">Edit</a><% } %></td>
    <td>
      <% if (index === 0) { %> <button class="delete btn btn-danger">Delete</button><% } %>
    </td>
  </tr>
<% }) %>
