<form class="settings">
  <div class="row">
    <div class="span5">
      <label for="weddingName1">Wedding Name</label>
      <div class="input-fields">
        <input class="span2" type="text" id="weddingName1" name="weddingName1" placeholder="Participant 1 Name" value="<%=participant1Name ? participant1Name : ''%>">
        &
        <input class="span2" type="text" id="weddingName2" name="weddingName2" placeholder="Participant 2 Name" value="<%=participant2Name ? participant2Name : ''%>"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <label id="dateLabel" for="date">Date of Event</label>
      <div class="input-fields">
        <div class="date" id="dp" data-date-format="dd-mm-yyyy">
          <input class="span2" id="date" name="date" size="16" type="text" value="<%=wedding.get('date') ? wedding.get('date') : ''%>" placeholder="12/25/2013">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <label for="time">Time</label>
      <div class="input-fields">
        <input type="text" id="time" name="time" placeholder="3:00 PM" value="<%=wedding.get('time') ? wedding.get('time') : ''%>">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <label for="weddingLocation">Address</label>
      <div class="input-fields">
        <section id="weddingLocation"></section>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <label for="weddingInvText">Invitation Text</label>
      <div class="input-fields">
        <section id="weddingInvText"></section>
      </div>
    </div>
  </div>

  <div class="row" id="mealContainer">
    <div class="span5">
      <label for="weddingMealsInput">Meal Options</label>
      <div class="input-fields">
        <div id="weddingMeals"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <div class="form-actions">
        <a href="<%= backUrl %>" class="btn">Cancel</a>
        <button id="settingsSubmit" type="submit" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>


</form>
