<!doctype html>
<html lang="en">
  <head>
    <title>Save the date!</title>
  </head>
  <body>
    <table height="611" width="611px" style="background: url(http://<%= config.app.host %>/images/saveTheDate.png) 0 0 no-repeat; padding: 0; margin: 0;">
      <tr>
        <td height="250"></td>
      </tr>
      <tr>
        <td valign="top">
          <center>
            <p style="font-size:32pt"><%= name1 %><br />&<br /><%= name2 %></p>
            <p><a href="<%= rsvpUrl %>">rsvp</a></p>
          </center>
        </td>
      </tr>
      <tr>
        <td valign="bottom">
          <center>
            <p><%= date ? date : ""%></p>
            <p><%= time ? time: ""%></p>
            <p><?=location ? location : ""</p>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
